@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    ViewData["Title"] = "Home";
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<section class="page-content" xmlns="http://www.w3.org/1999/html">
    <section class="search-and-user" >
        <div class="admin-profile" >
            @{
                System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
            }
            @if (User.Identity.IsAuthenticated)
            {
                <span class="greeting">

                    Hello @User.Identity.Name</span>
      
            }
            <div class="notifications">
                <svg>
                    <use xlink:href="#users"></use>
                </svg>
            </div>
        </div>
    </section>
         <div class="dashboard-wrapper">
             <div class="container-fluid  dashboard-content">

                 <!-- ============================================================== -->
                 <!-- page-header  -->
                 <!-- ============================================================== -->
             <div class="row">
                 <!-- metric -->
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                     <div data-aos="flip-left"
                         	     data-aos-easing="ease-in-back"
                         	     data-aos-delay="1200"
                         	     data-aos-offset="0">
                         		 <div class="card">
                                                         <div class="card-body">
                                                             <h5 class="text-muted">Items Available</h5>
                                                             <div class="metric-value d-inline-block">
                                                                 <h1 class="mb-1 text-primary">32,100 </h1>
                                                             </div>
                                                             <div class="metric-label d-inline-block float-right text-success">
                                                                 <i class="fa fa-fw fa-caret-up"></i><span>5.27%</span>
                                                             </div>
                                                         </div>
                                                         <div id="sparkline-1"></div>
                                                     </div>
                         	</div>
                    
                 </div>
                 <!-- /. metric -->
                 <!-- metric -->
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                     <div data-aos="flip-left"
                         	     data-aos-easing="ease-in-back"
                         	     data-aos-delay="1000"
                         	     data-aos-offset="0">
                         		 <div class="card">
                                                         <div class="card-body">
                                                             <h5 class="text-muted">Items Sold</h5>
                                                             <div class="metric-value d-inline-block">
                                                                 <h1 class="mb-1 text-primary">4,200 </h1>
                                                             </div>
                                                             <div class="metric-label d-inline-block float-right text-danger">
                                                                 <i class="fa fa-fw fa-caret-down"></i><span>1.08%</span>
                                                             </div>
                                                         </div>
                                                         <div id="sparkline-2"></div>
                                                     </div>
                         	</div>
                    
                 </div>
                 <!-- /. metric -->
                 <!-- metric -->
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                     
                     <div data-aos="flip-left"
                         	     data-aos-easing="ease-in-back"
                         	     data-aos-delay="800"
                         	     data-aos-offset="0">
                         	<div class="card">
                                                     <div class="card-body">
                                                         <h5 class="text-muted">Revenue</h5>
                                                         <div class="metric-value d-inline-block">
                                                             <h1 class="mb-1 text-primary">R5,656</h1>
                                                         </div>
                                                         <div class="metric-label d-inline-block float-right text-danger">
                                                             <i class="fa fa-fw fa-caret-down"></i><span>7.00%</span>
                                                         </div>
                                                     </div>
                                                     <div id="sparkline-3">
                                                     </div>
                                                 </div>
                         	</div>
                     
                 </div>
                 <!-- /. metric -->
                 <!-- metric -->
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                     
                     <div data-aos="flip-left"
                         	     data-aos-easing="ease-in-back"
                         	     data-aos-delay="600"
                         	     data-aos-offset="0">
                         	 <div class="card">
                                                     <div class="card-body">
                                                         <h5 class="text-muted">Growth</h5>
                                                         <div class="metric-value d-inline-block">
                                                             <h1 class="mb-1 text-primary">+28.45% </h1>
                                                         </div>
                                                         <div class="metric-label d-inline-block float-right text-success">
                                                             <i class="fa fa-fw fa-caret-up"></i><span>4.87%</span>
                                                         </div>
                                                     </div>
                                                     <div id="sparkline-4"></div>
                                                 </div>
                         	</div>
                    
                 </div>
                 <!-- /. metric -->
             </div>
             <br> <br>
             <div class="row">
                 <!-- ============================================================== -->
                 <!-- recent products  -->
                 <!-- ============================================================== -->
                 <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                     <div data-aos="fade-zoom-in"
                          data-aos-easing="fade-zoom-in"
                          data-aos-delay="400"
                          data-aos-offset="0">

                         <div class="card">
                             <h5 class="card-header">Recently Added Items</h5>
                             <div class="card-body p-0">
                                 <div class="table-responsive">
                                     <table class="table">
                                         <thead class="bg-light">
                                         <tr class="border-0">
                                             <th class="border-0">#</th>
                                             <th class="border-0">Image</th>
                                             <th class="border-0">Item Name</th>
                                             <th class="border-0">Item Type</th>
                                             <th class="border-0">Price</th>
                                             <th class="border-0">Date</th>
                                             <th class="border-0">QR Code</th>
                                         </tr>
                                         </thead>
                                         <tbody>
                                         <tr>
                                             <td>1</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/bed.jpg" alt="user" class="rounded" width="95"></div>
                                             </td>
                                             <td>Bed</td>

                                             <td>Furniture</td>
                                             <td>R800.00</td>
                                             <td>24-08-2018 14:12:77</td>

                                             <td>
                                                 <div class="m-r-10"><img src="images/code.png" alt="user" class="rounded" width="95"></div> </td>
                                         </tr>
                                         <tr>
                                             <td>2</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/car.png" alt="user" class="rounded" width="95"></div>
                                             </td>
                                             <td>Car</td>

                                             <td>Vehicle</td>
                                             <td>R180000.00</td>

                                             <td>24-08-2018 14:12:77</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/code.png" alt="user" class="rounded" width="95"></div> </td>
                                         </tr>
                                         <tr>
                                             <td>3</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/chair.jpg" alt="user" class="rounded" width="95"></div>
                                             </td>
                                             <td>Chair</td>

                                             <td>Furniture</td>
                                             <td>R820.00</td>
                                             <td>24-08-2018 14:12:77</td>

                                             <td>
                                                 <div class="m-r-10"><img src="images/code.png" alt="user" class="rounded" width="95"></div> </td>
                                         </tr>
                                         <tr>
                                             <td>4</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/tshirt.jpg" alt="user" class="rounded" width="95"></div>
                                             </td>
                                             <td>T-Shirt</td>

                                             <td>Clothing </td>
                                             <td>R340.00</td>
                                             <td>24-08-2018 14:12:77</td>
                                             <td>
                                                 <div class="m-r-10"><img src="images/code.png" alt="user" class="rounded" width="95"></div>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td colspan="8"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                         </tr>
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                         </div>
                     </div>
                     	</div>
                 <!-- ============================================================== -->
                 <!-- end  -->
                 <!-- ============================================================== -->
           
             
                 <div class="col-xl-4 col-lg-12 col-md-4 col-sm-12 col-12">
                       <div data-aos="fade-zoom-in"
                                               data-aos-easing="ease-in-back"
                                               data-aos-delay="50"
                                               data-aos-offset="0">
                                              		
                     <div class="card">
                         <h5 class="card-header">Total Items</h5>
                         <div class="card-body">
                             <canvas id="total-sale" width="220" height="155"></canvas>

                             <br> <br>
                             <div class="chart-widget-list">
                                 <p>
                                     <span class="fa-xs text-primary mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span><span class="legend-text"> Clothing</span>
                                     <span class="float-right">300</span>
                                 </p>
                                 <p>
                                     <span class="fa-xs text-secondary mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span>
                                     <span class="legend-text">Furniture</span>
                                     <span class="float-right">135</span>
                                 </p>
                                 <p>
                                     <span class="fa-xs text-brand mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span> <span class="legend-text">Vehicles</span>
                                     <span class="float-right">48</span>
                                 </p>
                                 <p>
                                     <span class="fa-xs text-brand mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span> <span class="legend-text">Gadgets</span>
                                     <span class="float-right">48</span>
                                 </p>
                                 <p class="mb-0">
                                     <span class="fa-xs text-info mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span> <span class="legend-text"> Other</span>
                                     <span class="float-right">154</span>
                                 </p>
 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                             <!-- ============================================================== -->
                             <!-- end total items  -->
                             <!-- ============================================================== -->
                         </div>
               
<div class="page-footer">
    <span>    &copy; 2021 - Agile Bridge </span>
  
</div>
    </div>
    </div>
</section>

<!-- Optional JavaScript -->
<!-- jquery 3.3.1 js-->
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- slimscroll js-->
<script src="vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chartjs js-->
<script src="vendor/charts/charts-bundle/Chart.bundle.js"></script>
   
<!-- main js-->
<script src="js/main-js.js"></script>
<!-- jvactormap js-->
<script src="vendor/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- sparkline js-->
<script src="vendor/charts/sparkline/jquery.sparkline.js"></script>
<script src="vendor/charts/sparkline/spark-js.js"></script>
<!-- dashboard sales js-->
<script src="js/dashboard-sales.js"></script>

<script>
  AOS.init();
</script>