@page
@using BeanBag.Services
@model BeanBag.Views.Account.Account

@{
    Layout = null;
}

@inject TenantService _tenantService
@{
	var tenantList = _tenantService.GetTenantList();
}

<!--Tenant Creation-->
<!--Create tenant selection button-->
    <div class="ml-auto col-md-2">
        <a  class="btn btn-primary shadow-sm bg-body rounded" data-toggle="modal" data-target="#exampleModal2">Select a tenant &nbsp;  &nbsp;  &nbsp; <i class="fa fa-plus"
                                                                                                                                                                                                                       aria-hidden="true"></i></a> <!-- change button css---->
    </div>


<div>
    <!---Popup Form to select tenant-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle2" aria-hidden="true">
    	<div class="modal-dialog modal-dialog" role="document">
            
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title"  id="exampleModalTitle2">Select a Tenant</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
                    
    			<form method="post">
    				<div class="modal-body">
    					
    					<div class="form-group">
    						<label for="tenant" class="col-form-label">Tenant</label>
    						<select name="tenant" id="tenant" required>
    							<option value="">Select a tenant</option>
    
    							<!--Loop through tenant database and display names-->
    							@if (tenantList.Any())
    							{
    								@foreach (var tenant in tenantList)
    								{
    									<option value="@tenant.TenantName">@tenant.TenantName</option>
    								}
    							}
    							
    						</select>
    					</div>
    
    					<div asp-validation-summary="All" class="text-danger"></div>
    	                    
    				</div>
    				
    				<div class="modal-footer ">
    					<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
    					<input type="submit" class="btn btn-primary" value="Select" onclick="tenantSelected()"/> <!--create button-->
    				</div>
    
    				<div id="signup-signin" hidden>	
    					<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> Login | SignUp
    				</a></div>
    				
    			</form>
                       
    		</div>
    	</div>
    </div>
</div>