
@using BeanBag.Services

@inject TenantService _tenantService
@{
	var tenantList = _tenantService.GetTenantList();
	
}

<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div >
                        <!-- Credit card form tabs -->
                        <ul role="tablist" >
                            <li > <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                         </ul>
                    </div> <!-- End -->
            
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane  pt-3">
                        <h6 class="pb-2">Select your paypal account type</h6>
                        <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                        <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button> </p>
                        <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div></div>