    @model Pagination
    @addTagHelper *, Microsoft.AspNetCore.TagHelpers
    
<!---Popup Form to delete user -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitleDelete" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalTitleDelete">Delete User </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="TenantSettings" asp-action="DeletePost" class="data"></form>
        </div>
    </div>
</div>

