@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions


@{
   //Which model will the colour themes view use?
    var options = _azureAdb2COptions.Value;
   // ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="inventory d-flex justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="col-2"> </div>
        <div class="col-10 appearance">        
            <div class="card">
                <h5 class="card-header">Website Theme</h5>
                <div class="card-body">
                    <h5 class="card-title">Pick theme colour</h5>
                    <div>
   
                        <form method="post" asp-action="ChangeThemeColour" asp-controller="Appearance">
                         
                           
                            <div class="element element1">
                                <select class="themeSelector" aria-label="Default select example" name="theme">
                                    <option value="">Select a theme</option>
                                    <option value="FieryRose">Fiery Rose</option>
                                    <option value="CornflowerBlue">Cornflower Blue</option>
                                    <option value="GreenSheen">Green Sheen</option>
                                    <option value="OutrageousOrange">Outrageous Orange</option>
                                    <option value="PurpleMountainMajesty">Purple Mountain Majesty</option>
                                </select>                               
                            </div>
                           
                            <div class="element">
                                <input class="btn btn-1" type="submit" value="Change colour theme" />
                            </div>                               
                           

                        </form>


                    </div>
                </div>
            </div>
            
           <!-- <div class="card">
                <h5 class="card-header">Upload Image</h5>
                <div class="card-body">
                    <h5 class="card-title">Pick theme colour</h5>
                    <div>
                        
                        
                    </div>
                </div>
            </div>   -->           
        </div>
      
    </div>
</section>
