<!--Empty state partial view where theres no items in your inventory-->
<div class="container h-100 d-flex justify-content-center pt-xl-5">
    <div class=" my-auto pt-xl-5 text-center">
   
        <img src="images/pay2.png" class="text-secondary pt-xl-5 mt-5" alt="" width="230">
        <h3 class="pt-5"> Your subscription plan has expired</h3>
        <h5 class="text-secondary p-2">Update  your subscription plan <br> to continue cateloging items</h5>
        
        <a asp-action="Billing" asp-controller="Payment" class="btn btn-3 ">Upgrade Subscription <img src="https://img.icons8.com/ios/20/000000/approve-and-update.png"/> </a>
    </div>
</div>