@{
   
    Layout = null;
}
	<!---Popup Form to payment free -->
	<div class="modal fade" id="exampleModal" data-toggle="modal" data-target="#exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog" role="document">

			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalTitle2">Updated to Free Plan</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="p-3">
					<div >
						<h6 class="pb-4 ">Free Plan</h6>
						Your subscription plan has been successfully updated to a free plan.
					</div> <!-- End -->

					<a class="btn btn-3 shadow-sm bg-body rounded float-right" asp-area="MicrosoftIdentity" asp-controller="Payment" asp-action="Billing">
						OK
					</a>
				</div>

			</div>
		</div>
	</div>
