<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle2" >
    <div class="modal-dialog modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalTitle2">Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="p-3">
                <div >
                    <h6 class="pb-4">SUCCESS</h6>
                    <!-- Credit card form tabs -->
                    <img width="150" class="pl-1 pb-2" src="~/images/payfastlogo.png" alt=""/>
                </div> <!-- End -->
                    
                <!-- Paypal info -->
                <div id="paypal" class="tab-pane  pt-3">
				
                    <!--Pay-fast checkout-->
                    <form action="https://sandbox.payfast.co.za/eng/process" method="post">
                        <input type="hidden" name="merchant_id" value="10023747">
                        <input type="hidden" name="merchant_key" value="jiuejttejgq04">
                        <input type="hidden" name="return_url" value="https://Payment/SuccessPayment">
                        <input type="hidden" name="cancel_url" value="https://Payment/CancelPayment">
                        <input type="hidden" name="notify_url" value="https://Payment/NotifyPayment">

                        <input type="hidden" name="amount" value="1000.00">
                        <input type="hidden" name="item_name" value="Premium BeanBag Account">
                        <input type="submit" class="btn btn-outline-light shadow-sm bg-body create rounded colors" value="Proceed to payment"/> 
                   			
                    </form>
				
                    <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                </div> <!-- End -->
                   
            </div>
        </div>
    </div>
</div>