
<!--Empty state partial view where theres no items in your inventory-->
<div class="container h-100 d-flex justify-content-center pt-xl-5">
    <div class=" my-auto pt-xl-5 text-center">
   
        <img src="images/empty.png" class="text-secondary pt-xl-5 mt-5" alt="" width="200">
        <h3 class="pt-4"> No items in your Inventory</h3>
        <h5 class="text-secondary p-2">Start cataloging items by adding <br> items to your inventory</h5>
        
          <a asp-action="Index" asp-controller="Inventory" class="btn btn-3 ">Add Items &nbsp;<i class="fas fa-plus"> </i></a>
    </div>
 </div>