@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@using BeanBag.Services
@model IEnumerable<Item>
@inject IOptions<MicrosoftIdentityOptions> azureAdb2COptions
@inject TenantService _tenantService
@{
    var tenant = _tenantService.GetTenantName(_tenantService.GetUserTenantId(User.GetObjectId()));
}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 

<section class="page-content" xmlns="http://www.w3.org/1999/html">

<section class="search-and-user ">
    <span class="md-2 text-secondary">
        Dashboard | @tenant
    </span>

    <div class="admin-profile ">
        @{
            System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
        }
        @if (User.Identity.IsAuthenticated)
        {

            <span class="greeting  ">

                Hello @User.Identity.Name</span>

        }
        <div>
            <svg>
                <use xlink:href="#users"></use>
            </svg>
        </div>


    </div>

</section>


<div class="dashboard-wrapper">

<div class="container-fluid  dashboard-content">

<hr>
<br>
<!--Date picker -->
<div class="row">
    
    <span class="col-md-1">
        View By
    </span>
    <span class="col-md-2">
        @Html.DropDownList("TimeDropDown", ViewBag.TimeDropDown as SelectList, null, new {@class = "form-control shadow-sm bg-body rounded"})

    </span>

    <span class="col-md-1">
        Select Inventory
    </span>
    <span class="col-md-2">
        @Html.DropDownList("InventoryDropDown", ViewBag.InventoryDropDown as SelectList, null, new {@class = "form-control shadow-sm  bg-body rounded"})

    </span>


</div>
<br>

<!-- ============================================================== -->
<!-- page-header  -->
<!-- ============================================================== -->
<div class="row">
    <!-- metric -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div data-aos="flip-left"
             data-aos-easing="ease-in-back"
             data-aos-delay="1200"
             data-aos-offset="0">
            <div class="card shadow p-1 mb-3 bg-body rounded">
                <div class="card-body">
                    <h5 class="text-muted">Items Added</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary" id="itemsAvailable">0 </h1>
                    </div>
                    <span id="addedStat"> </span>

                </div>
            </div>
        </div>

    </div>
    <!-- /. metric -->
    <!-- metric -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        <div data-aos="flip-left"
             data-aos-easing="ease-in-back"
             data-aos-delay="1000"
             data-aos-offset="0">
            <div class="card shadow p-1 mb-3 bg-body rounded">
                <div class="card-body">
                    <h5 class="text-muted">Items Sold</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary" id="itemsSold">0 </h1>
                    </div>

                    <span id="soldStat"> </span>

                </div>
            </div>
        </div>
    </div>
    <!-- /. metric -->
    <!-- metric -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">

        <div data-aos="flip-left"
             data-aos-easing="ease-in-back"
             data-aos-delay="800"
             data-aos-offset="0">
            <div class="card shadow p-1 mb-3 bg-body rounded">
                <div class="card-body">
                    <h5 class="text-muted">Revenue</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary" id="revenue"> R0.00</h1>
                    </div>
                    <span id="revStat"> </span>

                </div>

            </div>
        </div>

    </div>
    <!-- /. metric -->
    <!-- metric -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">

        <div data-aos="flip-left"
             data-aos-easing="ease-in-back"
             data-aos-delay="600"
             data-aos-offset="0">
            <div class="card shadow p-1 mb-3 bg-body rounded">
                <div class="card-body">
                    <h5 class="text-muted">Sales Growth</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary" id="growth">+0% </h1>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /. metric -->
</div>
<br> <br>
<div class="row">
    <!-- ============================================================== -->
    <!-- recent products  -->
    <!-- ============================================================== -->
    <div class="col-xl-8 col-lg-13 col-md-13 col-sm-13 col-13">
        <div data-aos="fade-zoom-in"
             data-aos-easing="fade-zoom-in"
             data-aos-delay="400"
             data-aos-offset="0">

            <div class="card shadow p-1 mb-3 bg-body rounded" id="CategoryID">
                <h5 class="card-header">Recently Added Items </h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">

                            <tr>
                                <td colspan="8">

                                </td>

                            </tr>

                            <tr class="">
                                <th class="border-0">#</th>
                                <th class="border-0">Image</th>
                                <th class="border-0">Inventory </th>
                                <th class="border-0">Item</th>
                                <th class="border-0">Type</th>
                                <th class="border-0">Quantity</th>
                                <th class="border-0">Price</th>
                                <th class="border-0">Date</th>
                            </tr>
                            </thead>
                            <tbody id="recentItems">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end  -->
    <!-- ============================================================== -->


    <div class="col-xl-4 col-lg-12 col-md-4 col-sm-12 col-12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="50"
             data-aos-offset="0">

            <div class="card shadow p-1 mb-3 bg-body rounded">
                <h5 class="card-header">Total Items</h5>
                <div class="card-body">

                    <canvas id="total-sale" width="220" height="155"></canvas>

                    <br>
                    <div class="chart-widget-list">
                        <p class="mb-0">

                            <span class="legend-text font-weight-bold ">Inventory </span>
                            <span class="legend-text float-right" id="inventory"> None
                            </span>
                            <span><br></span>

                        </p>
                        <hr>
                        <div id="topItems">
                        </div>

                        <p class="mb-0"> <span class="legend-text font-weight-bold"> Total Items </span>
                            <span class="float-right" id="totalItems">0</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end total items  -->
    <!-- ============================================================== -->
</div>




<div class="page-footer">
    <span> &copy; 2021 - Agile Bridge </span>

</div>
</div>
</div>
</section>

@section Scripts {

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    
   
      $(document).ready(function ()
      {
            //------------- Ajax get items on change of the timespan ------------------//
             $("#TimeDropDown").change(function () {
                 
                  let selected=  $("#InventoryDropDown Option:Selected");
                              $('#inventory').text( selected.text());  
                               
                               let selectedTime=$("#TimeDropDown Option:Selected");
                               $('#time').text( selected.text());  
                                                         
                          //Items available
                           $.getJSON('/Home/ItemsAvailable/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                               $('#itemsAvailable').text(data);       
                           })       
                           
                              //Items sold
                                     $.getJSON('/Home/ItemsSold/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                         $('#itemsSold').text(data);     
                                       });
                                     
                                       //Items revenue
                                      $.getJSON('/Home/Revenue/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                           $('#revenue').text("R" + data);       
                                       });
                                               
                                       //Items Growth
                                       $.getJSON('/Home/SalesGrowth/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                            $('#growth').text(data +"%");       
                                        }); 
                                       
                         
                          //Percentage growth stats
                          
                          //Added stat
                           $.getJSON('/Home/AvailableStat/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }
                              
                               $('#addedStat').html(val);       
                            })  
                 
                           //Sold stat
                            $.getJSON('/Home/SoldStat/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                    let val;
                                             if (data>=0)
                                             {
                                                 val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                                        '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                             }
                                             else
                                             {
                                                 val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                                      '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                              }                                                
                                  $('#soldStat').html(val);       
                               });
                           
                            //Revenue stat
                              $.getJSON('/Home/RevenueStat/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }                     $('#revStat').html(val);       
                                }); 
                              
                              
                             });
                      
         //--------------- Ajax function to get dashboard on dropdown (Recent Items) --------------//
         $("#InventoryDropDown").change(function () {
            
             let selected=  $("#InventoryDropDown Option:Selected");
             $('#inventory').text( selected.text());  
             
                     
                               let selectedTime=$("#TimeDropDown Option:Selected");
                               $('#time').text( selected.text());  
                                                           
                          //Items available
                           $.getJSON('/Home/ItemsAvailable/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                               $('#itemsAvailable').text(data);       
                           })       
                           
                              //Items sold
                                     $.getJSON('/Home/ItemsSold/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                            $('#itemsSold').text(data);       
                                       });
                                     
                                       //Items revenue
                                      $.getJSON('/Home/Revenue/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                           $('#revenue').text("R" + data);       
                                       });
                                               
                                       //Items Growth
                                       $.getJSON('/Home/SalesGrowth/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                            $('#growth').text(data +"%");       
                                        }); 
           
                          //Percentage growth stats
                          
                          //Added stat
                           $.getJSON('/Home/AvailableStat/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }
                              
                               $('#addedStat').html(val);       
                            })  
                 
                           //Sold stat
                            $.getJSON('/Home/SoldStat/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                    let val;
                                             if (data>=0)
                                             {
                                                 val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                                        '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                             }
                                             else
                                             {
                                                 val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                                      '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                              }                                                
                                  $('#soldStat').html(val);       
                               });
                           
                            //Revenue stat
                              $.getJSON('/Home/RevenueStat/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }                     $('#revStat').html(val);       
                                });                                       
                                              
             //RecentItems
           $.getJSON('/Home/GetItems/' + selected.val(), function (data) { 
                     let items = '';  
                     $.each(data, function (i, item) {
                         if (i<4){
                        let x=i+1;
                         items += '<tr>'+
'                                      '+
'                                <td>'+x+'</td>'+
'                                <td>'+
'                                    <div class="m-r-10"><img src="'+item.imageURL+'" alt="user" class="rounded" width="95"></div>'+
'                                </td>'+
'                                <td>'+selected.text()+'</td>'+
'                                <td>'+item.name+'</td>'+
'                                <td>'+item.type+'</td>'+
'                                <td>'+item.quantity +'</td>'+
'                                <td>'+"R"+ item.price+'</td>'+
''+
'                                <td>'+item.entryDate+'</td>'+
'                            </tr>';
	
                         }
                     });     
                     $('#recentItems').html(items);  
                 });
           
           //Chart card
            let inventoryid=selected.val();
                                          let totalItems=0;
                                          let items='';
                                          let otherTotal = 0;  
                                          let other=0;
                                          let item1='';
                                          let item2='';
                                          let item3='';
                                          let quantity1=0, quantity2=0, quantity3=0;
                                          let boxColor='';
                                          
                                       //Top 3 Items 
                                       $.getJSON('/Home/TopItems/' +  inventoryid + "/?nocache="+Math.random(), function (data) { 
                                            
                                           $.each(data, function (i, item) { //make if statement for colors
                                               
                                           if (i===0)
                                           {
                                               item1=item.type;
                                               quantity1= item.qsum;
                                               boxColor= "#5969ff";
                                           }else if (i===1 )
                                           {
                                               item2=item.type;
                                               quantity2= item.qsum;
                                               boxColor= "#ff407b";
                                           }else {
                                                item3=item.type;
                                                quantity3= item.qsum;
                                                boxColor= "#25d5f2";
                                           }
                                                       
                                               
                                               items += '<p>'+
                                            '                            <span class="fa-xs mr-1 legend-title"'+
                                             ' style="color:'+ boxColor +'" >'+
                                             '<i class="fa fa-fw fa-square-full"></i></span><span class="legend-text">'+item.type+'</span>'+
                                            '                            <span class="float-right">'+item.qsum+'</span>'+
                                            '                        </p>';
                                              otherTotal+=item.qsum; 
                                              totalItems=item.total;
                                            });
                                           //Other
                                           other=totalItems-otherTotal;
                                            
                                           if (other!==0){
                                             items += '<p>'+
                                                            '                            <span class="fa-xs mr-1 legend-title" style="color:#ffc750"><i class="fa fa-fw fa-square-full"></i></span><span class="legend-text"> Other </span>'+
                                                            '                            <span class="float-right">'+other+'</span>'+
                                                            '                        </p>';}
                                           $("#topItems").html(items);  
                                    //Total Items                    
                                  $.getJSON('/Home/TotalItems/' +  inventoryid  + "/?nocache="+Math.random(), function (data) {                  
                                                        $("#totalItems").text(data);
                                                        totalItems=data;
                                                                                
                                  //Chart
                                  if (totalItems!==0){
                                   let ctx = document.getElementById("total-sale").getContext('2d');
                                        new Chart(ctx, {
                                            type: 'doughnut',
                                    
                                            data: {
                                                labels: [item1, item2, item3, "Other"],
                                                datasets: [{
                                                    backgroundColor: [
                                                        "#5969ff",
                                                        "#ff407b",
                                                        "#25d5f2",
                                                        "#ffc750"
                                                    ],
                                                    data: [quantity1, quantity2, quantity3, other]
                                                }]
                                                
                                            },
                                            options: {
                                                 tooltips: {enabled: false},
                                                    hover: {mode: null},
                                                    showTooltips: false,
                                                    events: [],
                                                legend: {
                                                    display: false
                                    
                                                }
                                               
                                            }
                                    
                                        }); 
                                        }
                                  });  
                               });  
             })  
             
         
             
          //------ Ajax function to get dashboard on load ---------------//
          
          
              let  selected=$("#InventoryDropDown Option:Selected");
              $('#inventory').text( selected.text());  
              
              let selectedTime=$("#TimeDropDown Option:Selected");
               $('#time').text( selected.text());  
      
                                                         
                          //Items available
                           $.getJSON('/Home/ItemsAvailable/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                               $('#itemsAvailable').text(data);       
                           })       
                           
                              //Items sold
                                     $.getJSON('/Home/ItemsSold/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                            $('#itemsSold').text(data);       
                                       });
                                     
                                       //Items revenue
                                      $.getJSON('/Home/Revenue/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                           $('#revenue').text("R" + data);       
                                       });
                                               
                                       //Items Growth
                                       $.getJSON('/Home/SalesGrowth/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                            $('#growth').text(data +"%");       
                                        });                 
            
                          //Percentage growth stats
                          
                          //Added stat
                           $.getJSON('/Home/AvailableStat/', { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }
                              
                               $('#addedStat').html(val);       
                            })  
                 
                           //Sold stat
                            $.getJSON('/Home/SoldStat/' , { id: selected.val(), time: selectedTime.val() }, function (data) { 
                                    let val;
                                             if (data>=0)
                                             {
                                                 val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                                        '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                             }
                                             else
                                             {
                                                 val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                                      '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                              }                                                
                                  $('#soldStat').html(val);       
                               });
                           
                            //Revenue stat
                              $.getJSON('/Home/RevenueStat/' ,{ id: selected.val(), time: selectedTime.val() },  function (data) { 
                                let val;
                                if (data>=0)
                                {
                                    val =  '<div class="metric-label d-inline-block float-right text-success">'+
                                           '<i class="fa fa-fw fa-caret-up"></i><span>'+data+'%</span></div>';
                                }
                                else
                                {
                                    val = '<div class="metric-label d-inline-block float-right text-danger">'+
                                         '<i class="fa fa-fw fa-caret-down"></i><span>'+data+'%</span></div>';
                                 }                     $('#revStat').html(val);       
                                });                  
           //Recent items                
           $.getJSON('/Home/GetItems/' + selected.val()  , function (data) { 
                     let items = '';  
                     $.each(data, function (i, item) {
                         if (i<4){
                        let x=i+1;
                         items += '<tr>'+
'                                      '+
'                                <td>'+x+'</td>'+
'                                <td>'+
'                                    <div class="m-r-10"><img src="'+item.imageURL+'" alt="user" class="rounded" width="95"></div>'+
'                                </td>'+
'                                <td>'+selected.text()+'</td>'+
'                                <td>'+item.name+'</td>'+
'                                <td>'+item.type+'</td>'+
'                                <td>'+item.quantity +'</td>'+
'                                <td>'+"R" +item.price+'</td>'+
''+
'                                <td>'+item.entryDate+'</td>'+
'                            </tr>';
	
                         }
                     });     
                     $('#recentItems').html(items);  
                 });  
                let inventoryid=selected.val();
                                   let totalItems=0;
                                   let items='';
                                   let otherTotal = 0;  
                                   let other=0;
                                   let item1='';
                                   let item2='';
                                   let item3='';
                                   let quantity1=0, quantity2=0, quantity3=0;
                                   let boxColor='';
                                   
                                //Top 3 Items 
                                $.getJSON('/Home/TopItems/' +  inventoryid + "/?nocache="+Math.random(), function (data) { 
                                     
                                    $.each(data, function (i, item) { //make if statement for colors
                                        
                                    if (i===0)
                                    {
                                        item1=item.type;
                                        quantity1= item.qsum;
                                        boxColor= "#5969ff";
                                    }else if (i===1 )
                                    {
                                        item2=item.type;
                                        quantity2= item.qsum;
                                        boxColor= "#ff407b";
                                    }else {
                                         item3=item.type;
                                         quantity3= item.qsum;
                                         boxColor= "#25d5f2";
                                    }
                                                
                                        
                                        items += '<p>'+
                                     '                            <span class="fa-xs mr-1 legend-title"'+
                                      ' style="color:'+ boxColor +'" >'+
                                      '<i class="fa fa-fw fa-square-full"></i></span><span class="legend-text">'+item.type+'</span>'+
                                     '                            <span class="float-right">'+item.qsum+'</span>'+
                                     '                        </p>';
                                       otherTotal+=item.qsum; 
                                       totalItems=item.total;
                                     });
                                    //Other
                                    other=totalItems-otherTotal;
                                     
                                    if (other!==0){
                                      items += '<p>'+
                                                     '                            <span class="fa-xs mr-1 legend-title" style="color:#ffc750"><i class="fa fa-fw fa-square-full"></i></span><span class="legend-text"> Other </span>'+
                                                     '                            <span class="float-right">'+other+'</span>'+
                                                     '                        </p>';}
                                    $("#topItems").html(items);  
                             //Total Items                    
                           $.getJSON('/Home/TotalItems/' +  inventoryid  + "/?nocache="+Math.random(), function (data) {                  
                                                 $("#totalItems").text(data);
                                                 totalItems=data;
                                                                         
                           //Chart
                           if (totalItems!==0){
                            let ctx = document.getElementById("total-sale").getContext('2d');
                                 new Chart(ctx, {
                                     type: 'doughnut',
                             
                                     data: {
                                         labels: [item1, item2, item3, "Other"],
                                         datasets: [{
                                             backgroundColor: [
                                                 "#5969ff",
                                                 "#ff407b",
                                                 "#25d5f2",
                                                 "#ffc750"
                                             ],
                                             data: [quantity1, quantity2, quantity3, other]
                                         }]
                                         
                                     },
                                     options: {
                                          tooltips: {enabled: false},
                                             hover: {mode: null},
                                             showTooltips: false,
                                             events: [],
                                         legend: {
                                             display: false
                             
                                         }
                                        
                                     }
                             
                                 }); 
                                 }
                           });  
                        });                      
        })
                 
 
       
    </script>
}   
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 js-->
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- slimscroll js-->
<script src="vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chartjs js-->
<script src="vendor/charts/charts-bundle/Chart.bundle.js"></script>
<!-- main js-->
<script src="js/main-js.js"></script>
<!-- dashboard sales js-->

<script>
  AOS.init();
</script>