@{
    ViewData["Title"] = "Home Page";
}
<header>

    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="LandingPage" asp-action="Index">Bean Bag</a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links add active thing on the link to the current that you're on... -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <!---B2C Links here-->
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <!---B2C Links here-->
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="LandingPage" asp-action="Index">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


                <!--Create button to Upload 
                <a class="nav-link" asp-area="" asp-controller="QRCode" asp-action="Index">Home</a> --->
           