@model Item

@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}



<section class="inventory row d-flex justify-content-center">
    <br/>
    <div class="col-1 "> </div>
    <form method="post" asp-action="Edit" class="createForm" >
        <input asp-for="Id" hidden/>

        <div class="form-group row">
            <h3>Edit Item</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="name"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="type"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="inventoryId" value="Inventory"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="name" class="form-control"/>

                    </div>
                    <div class="col-4">
                        <input asp-for="type" class="form-control"/>
                    </div>
                    <div class="col-4">
                        <select asp-for="inventoryId" asp-items="@ViewBag.InventoryDropDown" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-1" value="Edit"/>
                        </div>
                        <div class="col">
                            <a asp-action="ViewItems" asp-controller="Inventory" asp-route-InventoryId="@ViewBag.InventoryId" class="btn btn-2">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}