@model Item
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<section class="item-create d-flex align-items-center">
    <div class="col-5">
        <div class="content-item2">
            <div class="box">
                <img src="@ViewBag.imageUrl" />
            </div>
        </div>
    </div>
    <div class="col-1"> </div>

    <div class="col-6">
        <form method="post" asp-action="Edit" asp-controller="Item" class="createForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" hidden />
            <input asp-for="imageURL" hidden />
            <input asp-for="QRContents" hidden />
            <input asp-for="entryDate" hidden />           

            <div class="form-group row">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" />
            </div>

            <div class="form-group row">
                <label asp-for="type"></label>
                <input asp-for="type" class="form-control" />
            </div>

            <div class="form-group row">
                <label asp-for="price"></label>
                <input asp-for="price" class="form-control" />
            </div>

            <div class="form-group row">
                <label asp-for="quantity"></label>
                <input asp-for="quantity" class="form-control" />
            </div>

            <div class="form-group row">
                <label asp-for="isSold"></label>
                <input asp-for="isSold" class="form-control" type="checkbox" />
            </div>

            <div class="form-group row">
                <label asp-for="soldDate"></label>
                <input asp-for="soldDate" class="form-control" type="date" />
            </div>

            <div class="form-group row">
                <label asp-for="inventoryId" value="Inventory"></label>
                <select asp-for="inventoryId" asp-items="@ViewBag.InventoryDropDown" class="form-control">
                    <option selected>Select Inventory</option>
                </select>
            </div>

            <input type="submit" class="btn btn-1" value="Edit" />
            <a asp-action="Index" asp-controller="Inventory" class="btn btn-2">Back</a>
        </form>
    </div>
</section>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}