
@{
    ViewData["Title"] = "ViewQRCode";
}
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<section class="home row d-flex justify-content-center">
    <div class="col-1 "> </div>
    <div class="container">
            <h3>View QR Code</h3>
            <br/>
           <img src ="@ViewBag.QRCode" width="200" height="200"  alt="QR"/> 
    </div>

</section>
