@model Pagination
@addTagHelper *, Microsoft.AspNetCore.TagHelpers

<!---Popup Form to edit inventory -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalTitle3">Edit Inventory </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Inventory" asp-action="Edit" class="data"></form>
        </div>
    </div>
</div>