@model IEnumerable<Inventory>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Inventory List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Inventory" asp-action="Create" class="btn btn-primary">Create new Inventory</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Inventory Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inventory in Model)
                {
                    <tr>
                        <td width="50%">@inventory.name</td>
                        <td width="50%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Inventory" asp-action="ViewItems" asp-route-Id="@inventory.Id" class="btn btn-success">View Items</a>
                                <a asp-controller="Inventory" asp-action="Edit" asp-route-Id="@inventory.Id" class="btn btn-secondary">Edit</a>
                                <a asp-controller="Inventory" asp-action="Delete" asp-route-Id="@inventory.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Inventories yet</p>
    }
</div>

