@model Inventory
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<link rel="stylesheet" type="text/css" href="css\dashboard.css"  />
<section class="inventory d-flex justify-content-center">
    <div class="col-1 "> </div>
    
        <form method="post" asp-action="Create" class="createForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group row">
                <h3 >Create inventory</h3>
            </div>
            <div class="form-group row">
                <label asp-for="name"></label> <!--Inventory Name-->
                <input asp-for="name" class="form-control"/> <!--input box-->
            </div>
            <input type="submit" class="btn btn-1" value="Create"/> <!--create button-->
            
            <a asp-action="Index" class="btn btn-2">Back</a> <!--Back-->
        </form>
    

</section> 


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}