@model Inventory
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<section class="inventory d-flex align-items-center">

    <form method="post" asp-action="DeletePost">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <h3 >Delete Item</h3>
        </div>
        <div class="form-group row">
            <label asp-for="name"></label> <!--Inventory Name-->
            <input asp-for="name" disabled class="form-control" /> <!--input box-->
        </div>
        <input type="submit" class="btn btn-1" value="Delete"/> <!--create button-->

        <a asp-action="Index" class="btn btn-2">Back</a> <!--Back-->
    </form>
    

</section>
<!--<footer id="sticky-footer"  class="footer-copyright "> -->
                  <!--class="border-top footer text-muted"-->
                 <!-- <div class="container">
                      &copy; 2021 - BeanBag by <a class="agile-link" href="https://www.agilebridge.co.za/">Agile Bridge </a>
                      <br>
                      <a class="landing-page-image" href="https://www.freepik.com/vectors/box">Box vector created by vectorjuice - www.freepik.com</a>
                  </div>
              </footer> -->


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}