@model Inventory
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
    
}

<section class="inventory d-flex justify-content-center">
    <div class="col-1 "> </div>
    <form method="post" asp-action="EditPost">
        <input asp-for="Id" hidden />
        
        <div class="form-group row">
            <h3 >Edit inventory name</h3>
        </div>
        <div class="form-group row">
            <label asp-for="name"></label> <!--Inventory Name-->
            <input asp-for="name" class="form-control"/> <!--input box-->
        </div>
        <input type="submit" class="btn btn-1" value="Edit"/> <!--create button-->
        
        <a asp-action="Index" class="btn btn-2">Back</a> <!--Back-->
    </form>
    

</section>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}