@model IEnumerable<Inventory>
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions


<section class="inventory d-flex align-items-center">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-1">
                
            </div>            
            <div class="col-5">
                <h3>Inventory List</h3>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Inventory" asp-action="Create" class="btn btn-1">Create new Inventory</a> <!-- change button css---->
                <a asp-controller="Item" asp-action="UploadImage" class="btn btn-1">Add Item</a> <!-- change button css-->
            </div>
        </div>

      <br />
      <div>
          <div class="row d-flex justify-content-center">
              <div class="col-1 "> </div>
              <div class="col-11 "> <!-- this div contains the table code d-flex justify-content-center -->
              @if (Model.Any())
              {
                  <table class="table table-bordered table-striped " style="width:100%" >
                      <thead>
                      <tr>
                          <th colspan="3">
                              Inventory Name
                          </th>
                      </tr>
                      </thead>
                      <tbody>
                      @foreach (var inventory in Model)
                      {
                          <tr>
                              <td >@inventory.name</td> <!-- width="50%"-->
                              <td > <!-- width="50%"-->
                                  <div class="w-100 btn-group" role="group">
                                      <a asp-controller="Inventory" asp-action="ViewItems" asp-route-InventoryId="@inventory.Id" class="btn tableButton">View Items</a>
                                      <a asp-controller="Inventory" asp-action="Edit" asp-route-Id="@inventory.Id" class="btn tableButton">Edit</a>
                                      <a asp-controller="Inventory" asp-action="Delete" asp-route-Id="@inventory.Id" class="btn tableButton">Delete</a>
                                  </div>
                              </td>
                          </tr>
                      }
                      </tbody>
                  </table>
              }
              else
              {
                  <p>No Inventories yet</p>
              }
              </div>
            </div>
 
      </div>
      
    </div>
</section>
