<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="page" size="A6">
        <div style="margin-top:100px;">
            <div class="row schoolDetails">
                <div class="col-md-12" style="text-align:center;">
                    <div class="col-md-2">
                        <img src="https://www.findandsolve.com/images/fns/logo.png" style="float:left !important;border-radius:50px;" width="300" />
                    </div>
                    <div class="col-md-10">
                        <div class="">
                            <span class="name">schoolName</span><br />
                            <span class="location">schoolAddress</span>

                            <br />
                            <span class="" style="font-size: 15px;">
                                Email :email
                            </span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-left:10%;margin-right:10%">
                <table class="" border="1" style="margin-top:100px;width:100%;">
                    <tbody>
                        <tr>
                            <th>Subject Name</th>
                            <th>Marks</th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>subjectSQL</td>
                            <td>sqlMarks</td>
                        </tr>
                        <tr>
                            <td>subjectC</td>
                            <td>cMarks</td>
                        </tr>
                        <tr>
                            <td>subjectEnglish</td>
                            <td>englishMarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>