@using BeanBag.Services
@inject TenantService _tenantService
@{
   
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->

	<link rel = "icon" href ="https://img.icons8.com/ios/50/ffffff/circled-b.png" type = "image/x-icon">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="~/css/dashboard.css" />
	<link rel="stylesheet" href="~/css/tenant.css" />
  
	<title> Pricing </title>

</head>


<style>
    .hidden {
        display: none;
    }

    li {
        font-size: 18px;
        list-style-type: none;
    }

    #results {
        display: block;
        text-align: center;
    }

    #paygate {
        display: none;
    }
</style>

<!--Nav-->
<nav class="navbar navbar-expand-md navbar-light">
	<a href="#" class="navbar-brand">Bean Bag</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	@{
		System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
	}
	
	<div class="collapse navbar-collapse">
		<div class="navbar-nav ml-auto">
			<li class="nav-item" >
			</li>
		</div>
	</div>
	
	<div class="collapse navbar-collapse"  id="collapsibleNavbar">
		<div class="navbar-nav ml-auto  pt-1" >
			<li class="nav-item">
				
				<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Tenant" asp-action="Index">
                					Tenants</a>

			

			</li>
		<li class="nav-item">	<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                             					SignOut
                             				</a>
		</li>		
			
		</div>
		
	</div>
		<hr>
</nav>
<body>


<div class="pt-3">
  <h2 class="text-center">Choose a Payment Plan </h2>
</div>

<br>


<div class="container-fluid">
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          
          <div class="card-body">
            <div class="text-center p-3">
              <h5 class="card-title">Basic</h5>
              <small>Individual</small>
              <br><br>
              <span class="h2">Free</span>
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
	            <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Cras justo odio</li>
            <li class="list-group-item">
	            <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/>Dapibus ac facilisis in</li>
              <li class="list-group-item">
	              <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li>
                <li class="list-group-item">
	                <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li>
          </ul>
          <div class="card-body text-center ml-auto">
	  
	          <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light shadow-sm bg-body create rounded colors" data-toggle="modal" data-target="#exampleModal">Select</a> 

	          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h5 class="card-title">Standard</h5>
              <small>Small Business</small>
              <br><br>
              <span class="h2">R500</span>/month 
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Cras justo odio</li>
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Dapibus ac facilisis in</li>
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li>
           <li class="list-group-item">
	           <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li> </ul>
          <div class="card-body text-center ml-auto">
        	<a class="btn btn-outline-light shadow-sm bg-body create rounded colors" data-toggle="modal" data-target="#exampleModal">Select</a> 
		     </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h5 class="card-title">Premium</h5>
              <small>Large Companies</small>
              <br><br>
              <span class="h2">R1000</span>/month
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Cras justo odio</li>
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Dapibus ac facilisis in</li>
            <li class="list-group-item"><img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li>
           <li class="list-group-item">
	           <img width="20" src="https://img.icons8.com/color/48/000000/checked--v1.png" alt=""/> Vestibulum at eros</li> </ul>
	        <div class="card-body text-center ml-auto">
		     	<a class="btn btn-outline-light shadow-sm bg-body create rounded colors" data-toggle="modal" data-target="#exampleModal2">Select</a> 

	        </div>
        </div>
      </div>
    </div>    
  </div></div>

<!--Payment testing stuff-->


</body>
</html>



<!---Popup Form to payment standard -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog" role="document">
        
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"  id="exampleModalTitle">Payment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="p-3">
			<div >
	<h6 class="pb-4 pl-1">Standard Plan</h6>
              
				<img width="150" class="pb-2" src="~/images/payfastlogo.png" alt=""/>
			</div> <!-- End -->
                    
			<!-- Paypal info -->
			<div  class="tab-pane  pt-3">
				<!--Pay-fast checkout-->
				
			  <button class="btn btn-outline-light shadow-sm bg-body create rounded colors"  id="btn-pay" >Proceed to payment</button> 
				<ul class="text-info pb-2" id="results"></ul>
                                    
                                <div class="hidden">
                                    <form action="https://secure.paygate.co.za/payweb3/process.trans" method="POST">
                                        <input id="PAY_REQUEST_ID" name="PAY_REQUEST_ID" type="hidden" />
                                        <input id="CHECKSUM" name="CHECKSUM" type="hidden" />
                                        <input id="REDIRECT" type="submit" />
                                    </form>
                                </div>

				<p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
			</div> <!-- End -->
                   
			</div>
		</div>
		</div>
</div>

	<!---Popup Form to payment premium -->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle2" aria-hidden="true">
	<div class="modal-dialog modal-dialog" role="document">
        
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"  id="exampleModalTitle2">Payment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="p-3">
				<div >
						<h6 class="pb-4 pl-1">Premium Plan</h6>
				<!-- Credit card form tabs -->
				<img width="150" class=" pb-2" src="~/images/payfastlogo.png" alt=""/>
            				</div> <!-- End -->
                    
			<!-- Paypal info -->
			<div id="paypal" class="tab-pane  pt-3">
				
        <button class="btn btn-outline-light shadow-sm bg-body create rounded colors"  id="btn-pay2" >Proceed to payment</button> 
			  <ul class="text-info pb-2" id="results2"></ul>
                    <div class="hidden">
                        <form action="https://secure.paygate.co.za/payweb3/process.trans" method="POST">
                            <input id="PAY_REQUEST_ID2" name="PAY_REQUEST_ID" type="hidden" />
                            <input id="CHECKSUM2" name="CHECKSUM" type="hidden" />
                            <input id="REDIRECT2" type="submit" />
                        </form>
                    </div>
				
				
				<p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
			</div> <!-- End -->
                   
			</div>
		</div>
		</div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

//For standard payment - Get Request
    $('#btn-pay').on('click', function () {
        let node = document.createElement("li");
        node.innerText = "Processing...";
        document.querySelector("#results").appendChild(node);

        $.get(`/payment/getrequest`)
            .done(data => success(data))
            .fail(err => error(err));
    });
    
    
    
    function success(data) {
        let requestNode = document.createElement("li");
        requestNode.innerText = "Request retrieved";
        document.querySelector("#results").appendChild(requestNode);

        requestNode.innerText = data.message;
        if (data.success) {
            $("#PAY_REQUEST_ID").val(data.results.PAY_REQUEST_ID);
            $("#CHECKSUM").val(data.results.CHECKSUM);


            let redirectNode = document.createElement("li");
            redirectNode.innerText = "Redirecting...";
            document.querySelector("#results").appendChild(redirectNode);

            document.querySelector("#REDIRECT").click();
        }
    }

    function error(data) {
        console.log("Error");
        let node = document.createElement("li");
        node.innerText = data;
        document.querySelector("#results").appendChild(node);
    }
    
    
//For premium payment - Get Request
    $('#btn-pay2').on('click', function () {
        let node = document.createElement("li");
        node.innerText = "Processing...";
        document.querySelector("#results").appendChild(node);

        $.get(`/payment/getrequest`)
            .done(data => success2(data))
            .fail(err => error(err));
    });
    
     function success2(data) {
            let requestNode = document.createElement("li");
            requestNode.innerText = "Request retrieved";
            document.querySelector("#results2").appendChild(requestNode);
    
            requestNode.innerText = data.message;
            if (data.success) {
                $("#PAY_REQUEST_ID2").val(data.results.PAY_REQUEST_ID);
                $("#CHECKSUM2").val(data.results.CHECKSUM);
    
    
                let redirectNode = document.createElement("li");
                redirectNode.innerText = "Redirecting...";
                document.querySelector("#results2").appendChild(redirectNode);
    
                document.querySelector("#REDIRECT2").click();
            }
        }
        
       
    function error2(data) {
        console.log("Error");
        let node = document.createElement("li");
        node.innerText = data;
        document.querySelector("#results2").appendChild(node);
    }
     
</script>

