/*  Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*  Gloabal Css  */
:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);
    }
}
/*  Navbar  */
.navbar {
    background-color: var(--main-color);
    padding: 20px 0;
}

.navbar > container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

/*Landing Page*/
.landing-page {
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);

}
.landing-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;


}
.landing-text p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    width: 100%;

}
.landing-img img{

    transform: scale(1.2, 1.2);

}

.landing-img .circle {
    position: absolute;
    z-index: 1;
    height: 500px;
    width: 500px;
    border: 1px solid rgba(255, 255,255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.landing-img .circle::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 210px 220px;
    animation: spin_01 10s linear infinite;

}
/* footer*/
    footer {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        background-color: var(--main-color);
        padding: 15px 0;
        color: #ffffff;
    }

a[href^="https"] {
    background-color: transparent;
    text-decoration: underline;
    color: #ffffff;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
*
* ==========================================
* Uploading Image
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed lightslategray;
    padding: 1rem;
    position: relative;
}

    .image-area::before {
        content: 'Uploaded image result';
        color: lightslategray;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }