
<section class="page-content">
  <script src="dist/min/dropzone.min.css"></script>

    <section class="search-and-user">

        <span class="col-md-2 text-secondary ">
            Create Model
        </span>
<hr>
    </section>
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <hr>

     <link href="dist/min/dropzone.min.css" rel="stylesheet">
          <div class="card shadow p-1 mb-3 bg-body rounded">
              <h5 class="card-header">Create Model </h5>
                 <form id="form2" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                            
                     <div class="card-body p-0 row">
                     
                            
                         <div class="col-sm-8">

                             <div class="form-group">
                                 <input hidden value="@Context.Request.Query["projectId"]" name="projectId"/>
                                 <div><br>
                                     <h5 class="text-muted pl-4">Upload</h5>

                                     <div class="text-secondary pl-4 pt-3"> <i class="fas fa-exclamation-circle"></i> &nbsp;Allowed file extensions:<b> .jpg, .jpeg, .png. </b></div>
                                     <div class="text-secondary pl-4 pt-1"> <i class="fas fa-exclamation-circle"></i> &nbsp;Upload 5 images or more </div>

                                 </div>
                                 <label class="control-label col-md-2" for="first-name">

                                     <span class="required"></span>

                                 </label>

                                 <div class="p-3 pr-3" id="dropzone">

                                     <div action="/stock/Upload" class="dropzone" id="uploader">

                                         <div class="text-muted"> Drop files here or click to upload. </div>

                                     </div>

                                 </div>
                             </div>
                         </div>
                  
                         <div class="col-sm-3 ">
                             <h5 class="text-muted pt-4 pl-2">Add tags</h5>
                             <div class="text-secondary pt-3 pb-3 pl-2"> <i class="fas fa-exclamation-circle"></i> Add tags to the images of the model </div>
                                  
                      
                                          
                             <div class="container pt-5">
                                 <div class="row clearfix">
                                     <div class="col-md-12 column">
                                         <table class="table table-bordered table-hover pr-5" id="tab_logic">
                                             <thead>
                                             <tr>
                                                 <th >
                                                     #
                                                 </th>
                                                 <th >
                                                     Tag Name
                                                 </th>
                                             </tr>
                                             </thead>
                                             <tbody>
                                             <tr id='addr0'>
                                                 <td>
                                                     1
                                                 </td>
                                                 <td>
                                                     <input type="text" name='tags' placeholder='Name' class="form-control"/>
                                                 </td>
                                             </tr>
                                             <tr id='addr1'></tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                                 <a id="add_row" class="btn btn-outline-secondary pull-left">Add Tag</a>
                                 <a id='delete_row' class="pull-right btn btn-outline-secondary">Remove Tag </a>
                             </div>
                      
                         </div>
                 
                     </div>
                         <div class="pt-4">
                                              &nbsp;
                                          </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <input type="submit" class="btn btn-primary" value="Train Model"/> <!--create button-->
                  </div>



            </form>
             </div>
     
  
            <script src="/dist/min/dropzone.min.js"></script>
 


        </div>
    </div>
    
</section>

<style>
.dropzone{
  border: 1px dashed grey;
  border-radius: 5px; 

}
</style>

@* This script functions is used to add dynamic text boxs to allow the user to enter as many tags as they desire with the uploaded test images *@

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
       $(document).ready(function(){
           
        var i=1;
       $("#add_row").click(function(){
        $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='tags"+i+"' type='text' placeholder='Name' class='form-control input-md'  /> " 
         );
        
        $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
        i++; 
       });
       $("#delete_row").click(function(){
      	 if(i>1){
  		 $("#addr"+(i-1)).html('');
  		 i--;
  		 }
  	 });
  
  });  
    
</script>