@{
    ViewData["Title"] = "QRCode";
}
<header>

    <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="LandingPage" asp-action="Index">Bean Bag</a>

            <!-- Toggle/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"> </i>
            </button>

            <!-- Navbar links add active thing on the link to the current that you're on... -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <!---B2C Links here-->
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @{
                        System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                    }
                    @if (User.Identity.IsAuthenticated)
                     {
                         <li class="nav-item">
                             <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Logout</a>
                         </li>
                     }
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- upload code-->
<section class="home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                
                    <!-- For demo purpose -->

                    <div class="text-secondary ">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
                    </div>

                    <div class="container py-5">

                        <div class="row py-4">
                            <div class="col-lg-5 mx-auto upload-image">



                                <!--Create button to Upload-->
                                <!-- Upload image input-->
                                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                    <label id="upload-label" for="upload" class="font-weight-light text-muted ">Upload Image</label>
                                    <div class="input-group-append">
                                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted text-center"></i><small class="text-uppercase font-weight-bold text-muted text-center "> <img src="images/upload-simple.svg" class="filter-purple2" alt="upload" /></small></label>
                                    </div>
                                </div>

                                <!-- Uploaded image area-->
                                <p class="font-italic text-secondary text-center"></p>
                                <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>

                                <!--  Process Button HERE--->
                                <br />
                                @using (Html.BeginForm("Index", "QRCode", FormMethod.Post))
                                {
                                    <!--  Generate Text backend--->
                                    <input class="btn btn-1" type="submit" value="Generate QR" />
                                }
                            </div>
                            <div class="col-lg-2 mx-auto">

                            </div>
                            <div class="col-lg-5 text-center home-text">

                                <!--  Return generated QRcode here--->

                                <div class="fixpadding">
                                    @if (ViewBag.QRCode != null)
                                    {
                                        <p> Generated QR Code </p>

                                        <img src="@ViewBag.QRCode" style="width:200px; height:200px;"  alt="barcode"/>//source is the direct bitmap image being 'parsed'
                                    }
                                </div>
                                <div class="item-details" id="item-details">

                                 
                                       
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
</section>