
@{
    ViewData["Title"] = "Index";
}
@{
       Layout = null;
}
<!--Preloader Start-->
<div class="preloader">
	<span> </span>
</div>

<link rel="stylesheet" href="css/splashscreen.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   

<div class="container1">
	<h1>Pure CSS Animated Gradient Background</h1>
	<h3><a href="https://codepen.io/P1N2O/full/pyBNzX" target="_blank">Full Screen</a></h3>
	<h5><small>by</small> <a href="https://manuelpinto.in" target="_blank"> Manuel Pinto</a></h5>
</div><nav class="navbar navbar-expand-md navbar-light bg-light">
	<a href="#" class="navbar-brand">Brand</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav">
			<a href="#" class="nav-item nav-link active">Home</a>
			<a href="#" class="nav-item nav-link">Profile</a>
			<a href="#" class="nav-item nav-link">Messages</a>
			<a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
		</div>
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link">Login</a>
		</div>
	</div>
</nav>