
@{
    ViewData["Title"] = "Index";
}

<!--Preloader Start-->
<div class="preloader">
    <span> </span>
</div>

<header>

    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="LandingPage" asp-action="Index">Bean Bag</a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links add active thing on the link to the current that you're on... -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!---B2C Links here-->
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="LandingPage" >Sign up</a> <!-- action removed, must be replaced by b2c functionality-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- Landing Page Heading Text, Description and Animation...-->
<section class="landing-page home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="landing-text ">
                    <h1>Inventory Management System Solution for your business</h1>
                    <p class="text-justify">
                        <b>Bean Bag</b> is an inventory management system that utilizes image recognition technology to optimize and bring forth a new approach to automate and accelerate item cataloging.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 ">

            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <div class="landing-img">
                    <!-- <div class="circle">

                    </div>-->
                    <img src="images/inventory.webp" alt="inventory image" />
                </div>
            </div>
        </div>

    </div>

</section>


