@{
    ViewData["Title"] = "Index";
}
@{
       Layout = null;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel = "icon" href ="https://img.icons8.com/ios/50/ffffff/circled-b.png" type = "image/x-icon">
<link rel="stylesheet" href="css/splashscreen.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!--Preloader Start-->
<div id="show"></div>

<!--Content-->
<div class="container1 container-fluid pl-5 pr-5 ">
	<div data-aos="fade-zoom-in"
	     data-aos-easing="ease-in-back"
	     data-aos-delay="300"
	     data-aos-offset="0">
		<h1 id="title-heading">Inventory Management Solution for your business.</h1>
	</div>
	
	<div data-aos="fade-down"
	     data-aos-easing="ease-in-back"
	     data-aos-delay="900"
	     data-aos-offset="0" class="pl-5 pr-5 text-dark">
		<h3  id="sub-heading" > Bean Bag is an Inventory Management System that utilizes AI recognition technology to optimize the way you manage your stock .</h3>
	</div>
	
	<div data-aos="fade-zoom-in"
	     data-aos-easing="ease-in-back"
	     data-aos-delay="1500"
	     data-aos-offset="0">
		<div class="svg-wrapper">
			<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
				<rect id="shape" height="40" width="150" />
				<div id="text">
					<a href="https://github.com/COS301-SE-2021/Bean-Bag"><span class="spot"></span>Learn More</a>
				</div>
			</svg>
		</div>
	</div>
	<br> <br> <br>
	<div id="" data-aos="fade-up"
	     data-aos-duration="1200" width="200px">
		<img src="images/dashboard.png" class="img-fluid" alt="dashboard"><br>
	</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
             <a href="#" class="navbar-brand" href="#">Bean Bag</a>
         
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> Login | SignUp
         
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                     <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                     <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                   </svg>
                 </a>
               </li>
             </ul>
           </nav>


<!--Scripts-->
<script src="~/js/automation.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  AOS.init();
</script>