@using BeanBag.Services
@{
    ViewData["Title"] = "Index";
}
@{
       Layout = null;
}

@inject TenantService _tenantService
@{
	var tenantList = _tenantService.GetTenantList();
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<link rel="stylesheet" href="css/splashscreen.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!--Preloader Start-->

<!--Content-->
<div class="container1">
	<div data-aos="fade-zoom-in"
	     data-aos-easing="ease-in-back"
	     data-aos-delay="300"
	     data-aos-offset="0">
		<h1 id="title-heading">Inventory Management Solution for your business.</h1>

	</div>
	
	<div data-aos="fade-down"
    	     data-aos-easing="ease-in-back"
    	     data-aos-delay="900"
    	     data-aos-offset="0">
    		<h3 id="sub-heading"> Bean Bag is an Inventory Management System that utilizes AI recognition technology to optimize the way you manage your stock .</h3>

    	</div>
	
<div data-aos="fade-zoom-in"
    	     data-aos-easing="ease-in-back"
    	     data-aos-delay="1500"
    	     data-aos-offset="0">
    	   
                <div class="svg-wrapper">
                  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                      <a href=""><span class="spot"></span>Learn More</a>
                    </div>
                  </svg>
                </div>
    	</div>
    
      
    <br> <br> <br>
	<div id="" data-aos="fade-up"
     data-aos-duration="1200">
	<img src="images/dashboard.png" width="1100px" alt="dashboard"><br>
</div>

	</div>


<nav class="navbar navbar-expand-md navbar-light">
	<a href="#" class="navbar-brand">Bean Bag</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	@{
		System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
	}
				

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		
		<div class="navbar-nav ml-auto">
			<li class="nav-item" >
			
				
				<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> Login | SignUp

					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					</svg>
				</a>
				
			</li>
			
				
		</div>
	</div>
	
</nav>


<!--Create tenant button-->
    <div class="ml-auto col-md-2">
        <a asp-controller="LandingPage" asp-action="CreateTenant" class="btn btn-primary shadow-sm bg-body rounded" data-toggle="modal" data-target="#exampleModal">Create New Tenant &nbsp;  &nbsp;  &nbsp; <i class="fa fa-plus"
                                                                                                                                                                                                                       aria-hidden="true"></i></a> <!-- change button css---->
    </div>

<!---Popup Form to create tenant-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog" role="document">
        
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"  id="exampleModalTitle">Create New Tenant</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
                
			<form method="post" asp-action="CreateTenant" >
				<div class="modal-body">
					<div class="form-group">
						<label for="tenantName" class="col-form-label">Tenant name</label>
						<input type="text" id="tenantName" name="tenantName" class="form-control"/> <!--input box-->
					</div>
					<div asp-validation-summary="All" class="text-danger"></div>
	                    
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Create"/> <!--create button-->
				</div>
			</form>
                   
		</div>
	</div>
</div>



<!--Create tenant selection button-->
    <div class="ml-auto col-md-2">
        <a asp-controller="LandingPage" asp-action="SelectTenant" class="btn btn-primary shadow-sm bg-body rounded" data-toggle="modal" data-target="#exampleModal2">Select a tenant &nbsp;  &nbsp;  &nbsp; <i class="fa fa-plus"
                                                                                                                                                                                                                       aria-hidden="true"></i></a> <!-- change button css---->
    </div>

<!---Popup Form to select tenant-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle2" aria-hidden="true">
	<div class="modal-dialog modal-dialog" role="document">
        
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"  id="exampleModalTitle2">Select a Tenant</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
                
			<form method="post" asp-action="SelectTenant">
				<div class="modal-body">
					
					<div class="form-group">
						<label for="tenant" class="col-form-label">Tenant</label>
						<select name="tenant" id="tenant" required>
							<option value="">Select a tenant</option>

							<!--Loop through tenant database and display names-->
							@if (tenantList.Any())
							{
								@foreach (var tenant in tenantList)
								{
									<option value="@tenant.TenantName">@tenant.TenantName</option>
								}
							}
							
						</select>
					</div>

					<div asp-validation-summary="All" class="text-danger"></div>
	                    
				</div>
				
				<div class="modal-footer ">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
					<input type="submit" class="btn btn-primary" value="Select" onclick="tenantSelected(true)"/> <!--create button-->
				</div>
				
				<div id="signupsignin">	
					<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> Login | SignUp
					</a></div>
				
			</form>
                   
		</div>
	</div>
</div>


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/automation.js"></script>

<script>
  AOS.init();
</script>